# =========================
# Various
# =========================
node_modules
bower_components
.sass-cache
import
export
scripts
release

# =========================
# VIM Temp Files
# =========================
*~
*.swp

# =========================
# WordPress 
# =========================

*.log

httpdocs/*
!httpdocs/wp-content/
!httpdocs/wp-content/*.png
!httpdocs/wp-content/*.ico

httpdocs/wp-content/*
!httpdocs/wp-content/plugins/
!httpdocs/wp-content/themes/
!httpdocs/wp-content/mu-plugins/

httpdocs/wp-content/plugins/*
!httpdocs/wp-content/plugins/markbaindesign-custom-functions/

httpdocs/wp-content/themes/*
!httpdocs/wp-content/themes/markbaindesign-wp/

httpdocs/wp-content/themes/markbaindesign-wp/style.css
httpdocs/wp-content/themes/markbaindesign-wp/style.css.map

# =========================
# Operating System Files
# =========================

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Misc
*.zip
*.tar
*.gz
*.sql
*.sublime-workspace