@use "sass:color";
@use "color-variables";

// Color schemes

@mixin palette-0 {
	
	// Vars
	
	$bg: color-variables.$color_white;
	$color: color-variables.$color_black;
	$border: $color;
	$header: $color;
	$btn-color: color-variables.$color_white;
	$btn-bg: color-variables.$color_blue-psj;
	$input-bg: rgba(0,0,0,.1);
	$input-color: color-variables.$color_black;
	$icon-color: color-variables.$color_blue-psj;

	// Styles
	
	background: $bg;	
	color: $color;
	&::before {
		background: color.adjust($bg, $lightness: -3%);
	}
	a {
		&:link, &:visited {
			color: $color;
			border-color: $border;

		}
		&:hover {
			color: color.adjust($color, $lightness: -20%);
			border-color: color.adjust($border, $lightness: -20%);
		}
		&:active {

		}
		&.fa {
			&:link, &:visited {
				color: $icon-color;
			}
			&:hover {
				color: color.adjust($icon-color, $lightness: -10%);	
			}			
		}
	}
	h1,h2,h3 {
		color: $header;
		// text-shadow: 1px 1px 1px lighten($bg, 10%);
	}
	.button {
		color: $btn-color;
		background-color: $btn-bg;
		&:hover {
			background-color: color.adjust($btn-bg, $lightness: -10%);		
		}
	}
}

@mixin palette-1 {

	// Vars

	$bg: color-variables.$color_pink-psj;
	$color: color-variables.$color_aubergine-psj;
	$border: $color;
	$header: $color;
	$btn-color: color-variables.$color_white;
	$btn-bg: $color;
	$input-bg: rgba(0,0,0,.1);
	$input-color: color-variables.$color_white;
	$icon-color: $color;
	
	// Styles
	
	background: $bg;	
	color: $color;
	&::before {
		background: color.adjust($bg, $lightness: -3%);
	}
	a {
		&:link, &:visited {
			color: $color;
			border-color: $border;

		}
		&:hover {
			color: color.adjust($color, $lightness: -20%);
			border-color: color.adjust($border, $lightness: -20%);
		}
		&:active {

		}
		&.button {
			&:link, &:visited {
				color: $btn-color;
				background-color: $btn-bg;
			}
			&:hover {
				background-color: color.adjust($btn-bg, $lightness: -10%);		
			}
		}
	}
	h1,h2,h3 {
		color: $header;
		text-shadow: 1px 1px 1px color.adjust($bg, $lightness: 10%);
	}
	.button {
		color: $btn-color;
		background-color: $btn-bg;
		&:hover {
			background-color: color.adjust($btn-bg, $lightness: -10%);		
		}
	}
}

@mixin palette-2 {
	// vars
	$bg: color-variables.$color_navy-psj;
	$color: color-variables.$color_blue-psj;
	$border: $color;
	$header: $color;
	$btn-color: color-variables.$color_white;
	$btn-bg: $color;
	$input-bg: rgba(0,0,0,.1);
	$input-color: color-variables.$color_white;
	$icon-color: $color;

	background: $bg;	
	color: $color;
	&::before {
		background: color.adjust($bg, $lightness: -3%);
	}
	a {
		&:link, &:visited {
			color: color-variables.$color_white;
		}
		&:hover {
			color: color-variables.$color_white;
		}
		&:active {
		}
		&.button {
			&:link, &:visited {
				color: $btn-color;
				background-color: $btn-bg;
			}
			&:hover {
				background-color: color.adjust($btn-bg, $lightness: -10%);		
			}
		}
	}
	h1,h2,h3 {
		color: color-variables.$color_white;
	}
}

@mixin palette-3 { // Base = $color_aubergine-psj
	// vars
	$bg: color-variables.$color_aubergine-psj;
	$color: color-variables.$color_pink-psj;
	$border: $color;
	$header: $color;
	$btn-color: color-variables.$color_white;
	$btn-bg: $color;
	$input-bg: rgba(0,0,0,.1);
	$input-color: color-variables.$color_white;
	$icon-color: $color;

	background: $bg;
	color: $color;
	&::before {
		background: color.adjust($bg, $lightness: -3%);
	}
	a {
		&:link, &:visited {
			color: color-variables.$color_white;
		}
		&:hover {
			color: color-variables.$color_white;
		}
		&:active {
		}
		&.button {
			&:link, &:visited {
				color: $btn-color;
				background-color: $btn-bg;
			}
			&:hover {
				background-color: color.adjust($btn-bg, $lightness: -10%);		
			}
		}
	}
	h1,h2,h3 {
		color: color-variables.$color_white;
	}
}

// Base = $color_blue-psj

@mixin palette-4 { 
	//vars
	$bg: color-variables.$color_blue-psj;
	$color: color-variables.$color_navy-psj;
	$border: $color;
	$header: $color;
	$btn-color: color-variables.$color_white;
	$btn-bg: $color;
	$input-bg: rgba(0,0,0,.1);
	$input-color: color-variables.$color_white;
	$icon-color: $color;

	background: $bg;	
	color: $color;
	&::before {
		background: color.adjust($bg, $lightness: -3%);
	}

	a {
		&:link, &:visited {
			color: color-variables.$color_white;
		}
		&:hover {
			color: color-variables.$color_white;
		}
		&:active {
		}
		&.button {
			&:link, &:visited {
				color: $btn-color;
				background-color: $btn-bg;
			}
			&:hover {
				background-color: color.adjust($btn-bg, $lightness: -10%);		
			}
		}
	}
	h1,h2,h3 {
		color: color-variables.$color_white;
	}
}

// Base = $color_black-psj

@mixin palette-5 { 
	$bg: color-variables.$color_black-psj;
	$color: color-variables.$color_white;
	$border: $color;
	$header: $color;
	$btn-color: color-variables.$color_white;
	$btn-bg: $color;
	$input-bg: rgba(0,0,0,.1);
	$input-color: color-variables.$color_white;
	$icon-color: $color;

	background: $bg;	
	color: color-variables.$color_white;
	&::before {
		background: color.adjust($bg, $lightness: -3%);
	}
	a {
		&:link, &:visited {
			color: rgba(255,255,255,.5);
			i {
				color: color.adjust($bg, $lightness: -10%);
				text-shadow: 1px 1px 1px color.adjust($bg, $lightness: 10%);
			}
		}
		&:hover {
			color: color-variables.$color_white;
			i {
				color: color.adjust($bg, $lightness: -20%);
			}
		}
		&:active {
		}
		&.button {
			&:link, &:visited {
				color: $btn-color;
				background-color: $btn-bg;
			}
			&:hover {
				background-color: color.adjust($btn-bg, $lightness: -10%);		
			}
		}
			
	}
	h1,h2,h3 {
		color: color-variables.$color_white;
	}
}

// Base = $color_black-psj

@mixin palette-6 { 
	$bg: color-variables.$color_red-psj;
	$color: color-variables.$color_white;
	$border: $color;
	$header: $color;
	$btn-color: color-variables.$color_white;
	$btn-bg: $color;
	$input-bg: rgba(0,0,0,.1);
	$input-color: color-variables.$color_white;
	$icon-color: $color;

	background: $bg;	
	color: $color;
	&::before {
		background: color.adjust($bg, $lightness: -3%);
	}
	a {
		&:link, &:visited {
			color: rgba(255,255,255,.5);
		}
		&:hover {
			color: color-variables.$color_white;
		}
		&:active {
		}
		&.button {
			&:link, &:visited {
				color: $btn-color;
				background-color: $btn-bg;
			}
			&:hover {
				background-color: color.adjust($btn-bg, $lightness: -10%);		
			}
		}
	}
	h1,h2,h3 {
		color: color-variables.$color_white;
	}
}

// Base = $color_black-psj

@mixin palette-7 { 
	$bg: color-variables.$color_brown-psj;
	$color: color-variables.$color_white;
	$border: $color;
	$header: $color;
	$btn-color: color-variables.$color_white;
	$btn-bg: $color;
	$input-bg: rgba(0,0,0,.1);
	$input-color: color-variables.$color_white;
	$icon-color: $color;
	background: $bg;	
	color: $color;
	&::before {
		background: color.adjust($bg, $lightness: -3%);
	}
	a {
		&:link, &:visited {
			color: rgba(255,255,255,.5);
		}
		&:hover {
			color: color-variables.$color_white;
		}
		&:active {
		}
		&.button {
			&:link, &:visited {
				color: $btn-color;
				background-color: $btn-bg;
			}
			&:hover {
				background-color: color.adjust($btn-bg, $lightness: -10%);		
			}
		}
	}
	h1,h2,h3 {
		color: color-variables.$color_white;
	}
}
