/* ==========================================================================
   Footer
   ========================================================================== */

.site-footer {
	background: $white;
	color: $black;
	text-align: center;

	@include breakpoint(tablet) {
		height: $sticky-footer-height; 
		text-align: left;
	}

	.container {
		max-width: 100%;

		&>div {
			@include breakpoint(tablet) {
				width: 50%;
				float: left;
			}

			.social {
				text-align: right;
			}
		}
	}

	p {
		max-width: 100%;
		margin: 0 0 1em 0;
	}

	ul {
		padding: 0;
		margin: 0;
		@include breakpoint(tablet) {
			text-align: right;
		}

		li {
			padding: 0 15px;
			@include breakpoint(tablet) {
				padding: 0;
				margin-left: 15px;
			}
			span {
				margin-left: 10px;
			}
		}
	}

 	a {
		color: $mid-grey;
		text-decoration: none;
	}
}

.site-footer a:hover {
	color: darken($black, 10%);
}

.site-footer a:active {
	color: darken($link-color-alt, 15%);
	border-bottom: 1px solid  darken($link-color-alt, 15%); 
}

.site-footer li {
	list-style-type: none;
		display: inline;
		font-size: 1.5em;
		span {
			display: none;
		}
		@include breakpoint(tablet) {
			font-size: 1em;
		}
}



/* Back to top link */
#back-to-top {
	margin-top: 1em;
	i {
		&.icon-arrow-up {
			padding-right: 7px;
		}
	}

	a {
		display: inline-block;
		padding: .5em 3%;
		width: auto;
		background: darken( $white, 10%);
		@include border-radius( 5px );

		&:link, &:visited {
			background: darken( $white, 15%);
		}
		&:hover {
			background: darken( $white, 25%);
		}
		&:active {
			background: darken( $white, 35%);
		}	}

	@include breakpoint(tablet) {
		display: none;
	}
}
